.color{
    background-color: blanchedalmond;
}
.time-1{
    background-color: blanchedalmond;
    width: 280px;
}
table{
    position: relative;
    top: 60px;
    left: 180px;
    width: 700px;
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
}
.table{
    background-color: yellow;
    padding: 30px;
    word-spacing: 20px;
    font-size: 25px;
    letter-spacing: 3px;
}
.all{
    background-color: azure;
    text-align: center;
    padding: 10px 0px;
}
td{
    background-color: rgb(162, 233, 162);
    text-align: center;
    padding: 15px 0px;
    border: 5px solid black;
    column-gap: 10px;
    border-collapse: collapse;
}